<?xml version="1.0" encoding="utf-8"?>

<!--如需使用 web.config 轉換的詳細資訊，請造訪 http://go.microsoft.com/fwlink/?LinkId=125889 -->

<configuration xmlns:xdt="http://schemas.microsoft.com/XML-Document-Transform">
  <!--
    在下列範例中，"SetAttributes" 轉換會將 
    "connectionString" 的值變更為使用 "ReleaseSQLServer"，但前題是 "Match" 定位器 
    找到擁有 "MyDB" 值的屬性 "name"。
    
    <connectionStrings>
      <add name="MyDB" 
        connectionString="Data Source=ReleaseSQLServer;Initial Catalog=MyReleaseDB;Integrated Security=True" 
        xdt:Transform="SetAttributes" xdt:Locator="Match(name)"/>
    </connectionStrings>
  -->
  <system.web>
    <!--
      在下列範例中，"Replace" 轉換會取代 web.config 檔案的整個 
      <customErrors> 區段。
      請注意，由於
      <system.web> 節點下只有一個 customErrors 區段，因此不需要使用 "xdt:Locator" 屬性。
      
      <customErrors defaultRedirect="GenericError.htm"
        mode="RemoteOnly" xdt:Transform="Replace">
        <error statusCode="500" redirect="InternalError.htm"/>
      </customErrors>
    -->
  </system.web>
</configuration>